body {
    background-image: url(bookcover.jpg);
}
.container {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 5em; justify-items: center; padding: 15em;}                           
.box1 {width: 300px; height: 300px; background-color:olivedrab; font-size: 22px;}
.box2 {width: 300px; height: 300px; background-color: teal; font-size: 21px}
.box3 {width: 300px; height: 300px; background-color: rgb(85, 27, 139); font-size: 20px;}
.box4 {width: 300px; height: 300px; background-color: rgb(95, 69, 189); font-size: 22px;}
.box5 {width: 300px; height: 300px; background-color: rgb(180, 170, 35); font-size: 22px;}
.box6 {width: 300px; height: 300px; background-color: rgb(69, 117, 189); font-size: 22px;}