
  
  @font-face{
    src: url(Betty.ttf);
         font-family: manila;
}
@font-face{
  src: url(flowers.ttf);
       font-family: flowers;
}
.flex-container {
    display: flex;
    flex-direction: row;
    height: 1px;
    align-items: flex-end;
    justify-content: center;
    
}
#button2 {
  background-color:rgb(40, 191, 218);
  color: rgb(230, 26, 26);
  border: 2px solid rgb(40, 191, 218);
  font-family: manila;
  font-size: larger;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  opacity: 0.9;
  width: 200px;
  height: 40px;
}
#button2:hover {
  box-shadow: 0 16px 20px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.25);
  opacity: 1;
}
.slider {padding: 10px;}
.current-song {color:rgb(40, 191, 218);}
#playlist {
    list-style: none; opacity: .5; font-family: manila; font-size: 20px;
}
#playlist:hover {opacity: 1.0; 
}
#playlist li a {
  color:white;
  text-decoration: none;
}
#playlist .current-song a{
  color: cornflowerblue;
}

.text1 {font-family: flowers; display: flex; flex-direction: row-reverse; justify-content: center;
           list-style: none; color: rgb(1, 1, 205); font-size: 7em; font-weight: bold; letter-spacing: 10px;
           filter: blur(0px); transition: 4s;
}
.text1:hover {
  transform: rotateX(180deg) translateY(-200px); color: rgb(230, 26, 26);
}


.text2 {font-family: flowers; display: flex; flex-direction: row-reverse; justify-content: center;
  list-style: none; color: rgb(1, 1, 205); font-size: 7em; font-weight: bold; letter-spacing: 10px;
  filter: blur(0px); transition: 4s; height: 100px ;
}
.text2:hover {
  transform: rotateX(180deg) translateY(-200px); color: rgb(230, 26, 26);
}

h2 {display: flex; justify-content: center; align-items: center; -webkit-box-reflect: below 1px linear-gradient(transparent, Black);
    font-family: manila; outline: none; animation: animate 5s linear infinite; color: rgb(1, 1, 205);}
  @keyframes animate
  {
    0%
    {
      color: rgb(1, 1, 205);
    }
    100%
    {
      color: #fff;
    }
  }
#audioPlayer {opacity: 0.3; transform: scale(.90)}
#audioPlayer:hover {transform: scale(1.0);filter: drop-shadow(2px 3px 3px #333); opacity: 1.0;}
